<% include ./ethNavJs %>
<link rel="stylesheet" href="/css/ethNav.css">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="navbar-brand">Ethereum</div>
    </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href='/'>Home</a></li>
                <li><a href='/ethereum'>Search</a></li>
                <% if(isAuth) { %>
                    <li><a class="myBtn" style="cursor: pointer;">new account</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(isAuth) { %>
                    <li><a href="/ethereum/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/ethereum/logIn" style="cursor: pointer;">Log In</a></li>
                    <li><a href="/ethereum/signUp" style="cursor: pointer;">Sign Up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div id="actModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="s003" style="background-color: #ffffff;">
                <form action="" method="POST" id="searchNew" style="display: none;">
                    <div class="makeAccount" style="display: none;">
                        <lengend style="font-size : 20px; color:#000000; margin-bottom: 5px; margin-top: 10px;">Get started New Account</lengend>
                    </div>
                    <div class="newAccount" style="display: none;">
                        <legend style="font-size : 20px; color:#000000; margin-bottom: 5px; margin-top: 10px;">Contect to Cluster with Your New Account!</legend>
                    </div>
                    </br>
                    <div class="inner-form">
                        <div class="input-field second-wrap" id="makeContent" style="display: none;">
                            <input id="getaccount" type="text" placeholder="make your own password..." />
                        </div>
                        <div class="input-field second-wrap" id="newContent" style="display: none;">
                            <p id="newAddress"type="text"></p>
                        </div>
                        <div class="input-field third-wrap" id="actButton">
                            <button class="btn-search" type="button" style="background: #1613ce;" style="display: none;" id="makeNew">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
