body
{
    background-color: #efefef;
}

.bg-main
{
    background-color: #494C4E;
}

.text_center
{
    text-align: center;
}

.panel-heading a
{
    text-decoration: none;
}

.panel-heading a:link, a:link, a:visited, a:hover, a:active
{
    color: #111;
}

.a-right
{
    float: right;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.a-left
{
    float: left;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.panel-custom
{
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.button-box-1
{
    margin: 0;
    padding:0;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.button-box-2
{
    position: relative;
    padding: 30px 35px;
    border-bottom: 1px solid #e5e5e5;
}

.button-box-2
{
    position: relative;
    padding: 30px 35px;
    border-bottom: 1px solid #e5e5e5;
}

.button-box-2-inner
{
    padding: 0px;
}

.top-button
{

    display: inline-block;
    margin: 0px;
    padding: 15px 35px;
    font-size: 16px;
    color: #9b9b9b;
}

.top-button-selected
{
    color:#333;
    border-bottom: 2px solid #4B84FB;
}

.button-full
{
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-facebook
{
    margin-bottom: 4px;
    background-color: #3B5998;
    border: none;
}
.button-google
{
    margin-bottom: 4px;
    background-color: #EE3B33;
    border: none;
}
.button-twitter
{
    background-color: #98CBF4;
    border: none;
}
.button-kakao
{
    background-color: #FFDC00;
    border: none;
}

.button-box-left
{
    padding-right: 2px;
}

.button-box-right
{
    padding-left: 2px;
}

.panel-body-set
{
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.span-or
{
    position: absolute;
    background-color: #fff;
    padding: 10px 20px;
    top: 187px;
    left: 45%;
    z-index: 999;
    font-size: 18px;
    color: #e5e5e5;
}

.panel-body-inner
{
    padding-top: 35px;
    padding-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
}

.panel-body-inner-1
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
}

.account-text-form-1
{
    padding: 25px;
    background-color: #F9F9F9;
    border: solid 1px #E5E5E5;
}

.panel-body-inner-box-1
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 6px;
}

.panel-body-inner-box-2
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 0px;
}

.panel-body-set
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.panel-body-inner-box-3
{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.panel-body-inner-box-3 p
{
    margin-left: 30px;
}

.account-text-form-2
{
    padding: 25px;
    background-color: #F9F9F9;
    border: solid 1px #E5E5E5;
    margin: 0px;
}

.panel-body-inner-box-4
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.panel-body-inner-box-4 h3
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.account-text-form-3
{
    padding: 25px;
    background-color: #F9F9F9;
    border: solid 1px #E5E5E5;
}

.button-access
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-padding
{
    padding-bottom: 20px;
}

/*로딩효과*/
.y100 {
    min-height: 100vh;
}

.bg-purple {
    background-color: #aa4f80;
}

.table {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}